@charset "utf-8";

/** {
  margin: 0;
  padding: 0;
} */

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", 'Trebuchet MS' /*,'Noto Sans'*/, sans-serif;
	
}
header {
	background-image: url(https://user-images.githubusercontent.com/40442987/75100791-96b82400-55a0-11ea-8950-4919186632c0.png);
	background-repeat: no-repeat;
	background-size: 100% 225px;
	margin-bottom: 1rem;
	
}
container {
	
}
.nav-grid {
	display: grid;
	grid-template-columns: 20px 1fr 1fr 20px;
	grid-template-rows: 70% 30%;
	width: 100%;
	grid-template-areas: 
		". pagetitle  logo ."
		". .  logo ."
		". nav nav .";
	/* Original .nav-grid code
	display: grid;
	grid-template-columns: 20px 1fr 1fr 20px;
	grid-template-rows: 70% 30%;
	width: 100%;
	grid-template-areas: 
		". pagetitle  logo ."
		". nav  logo .";
	*/
	
}
.main-grid {
	display: grid;
	grid-template-columns: 20px 1fr 20px;
	width: 100%;
	grid-template-areas:
		". welcome-photo ."
		". welcome ."
		". sub-photo ."
		". welcome-sub ."
}

#pagetitle {
	/*background-color: rebeccapurple;  /*--To Delete-- */
	grid-area: pagetitle;
	font-family: 'Playfair Display', serif;
	margin: 0px;
	padding-top: 0rem;
	font-size: 30px;
	
}


#logo {
	/*background-color: purple; /*--To Delete--*/
	grid-area: logo;
	padding-top: 1.2rem;
}
#logo img {
    max-width: 250px;
}
#nav {
	/*background-color: midnightblue;  /*--To Delete--*/
	grid-area: nav;
	font-family: 'Noto Sans', sans-serif;
	word-spacing: 1rem;
	text-align: center;
}
#nav a:link, a:active{
	text-decoration: none;
	color: #5d6f70;
}
#nav a:visited{
	text-decoration: none;
	color: #455456;
}
#nav a:hover{
	color: rgba(94,156,170,.72);	
}
h1 {
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	color: #06242b;
}

#flex {
	background-color: cornflowerblue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-image: linear-gradient(white, #cedddb);
	}


#main img {
	padding: 3px;
	border:6px solid #5e9caa;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#main h2 {
	color: #055866;
	font-family: 'Playfair Display', serif;
}
#welcome {
/*	padding: 2rem;
	max-width: 450px;*/
	color: #06242b;
	grid-area: welcome;
	margin-top: 1rem;
}
#welcome-sub {
/*	padding: 2rem;
	max-width: 450px;*/
	grid-area: welcome-sub;
	margin-top: 1rem;
}
#welcome-photo{
	grid-area: welcome-photo;
	margin-top: 1rem;
}
#sub-photo{
	grid-area: sub-photo;
	margin-top: 1rem;
}


#practice {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin: auto;
	background-color: /*#023f49; */ #7d9191;
	color: /*#cedddb;*/ #06242b;
	margin-top: 1rem;
}
.practice-grid {
	display: grid;
	/*grid-template-columns: 20px 1fr 20px;*/
	/*width: 100%;*/
	grid-template-areas:
		"day-time"
		"map"
}
#day-time{
	grid-area: day-time;
}

#map{
	grid-area: map;
	margin-bottom: 1rem;
}

footer {
	background-color: #5e9caa;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 7px;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
}
#footer a:link, a:active{
	text-decoration: none;
	color: #5d6f70;
}
#footer a:visited{
	text-decoration: none;
	color: #455456;
}
#footer a:hover{
	color: rgba(94,156,170,.72);	
}


@media screen and (min-width: 800px) and (max-width: 1024px){
	/*header {
	background-image: url(CRUWH-grid-line.png);
	background-repeat: no-repeat;
	background-size: 100% 225px;
}*/
	
	body{
		
	}
	h1 {
		font-size: 28px;
	}
	#flex {
		background-color: cornflowerblue;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		background-image: linear-gradient(white, #cedddb);
	}
	.nav-grid {
		display: grid;
		grid-template-columns: 60px 2fr 1fr 20px;
		grid-template-rows: 60% 40%;
		width: 100%;
		grid-template-areas: 
			". pagetitle  logo ."
			". nav  logo .";
	}
	#nav {
		padding-left: 30px;
	}
	.main-grid {
		display: grid;
		grid-template-columns: 20px 1fr 1fr 20px;
		grid-template-rows: 50% 50%;
		width: 100%;
		grid-template-areas:
			". welcome welcome-photo ."
			". sub-photo welcome-sub ."
	}

	#main {
		order: 1;
	}
	#practice {
		order: 2;
		margin-top: 2rem;
	}
	.practice-grid {
		display: grid;
		grid-template-columns: .7fr 1fr 1fr .7fr;
		width: 100%;
		grid-template-areas:
			". day-time map ."
	}
	#map {
		margin: 1rem;
	}
}

@media screen and (min-width: 1024px){
	/*Adjust size of h2 for responsive sizes - smaller on smaller screens*/
	
	body{
		
	}
	header {
		background-image: url(https://user-images.githubusercontent.com/40442987/75100789-87d17180-55a0-11ea-858b-664d0c95ea65.png);
		background-repeat: no-repeat;
		background-size: 100% 225px;
		margin-bottom: 1rem;

	}
	h1 {
		font-size: 32px;
	}

	#flex {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		background-image: linear-gradient(white, #cedddb);
		padding: 2rem;
	}
	.nav-grid {
		display: grid;
		grid-template-columns: 150px 1.5fr  1fr 30px;
		grid-template-rows: 60% 40%;
		grid-template-areas: 
			". pagetitle  logo ."
			". nav  logo .";
		margin-bottom: 1rem;
	}
	#pagetitle {
		padding-top: 15px;
	}
	#nav {
		padding-top: 10px;
		padding-left: 50px;
	}
	.main-grid {
	display: grid;
	grid-template-columns: 20px 1fr 1fr 20px;
	/*grid-template-rows: 50% 50%;*/
	/*width: 100%;*/
	grid-template-areas:
		". welcome welcome-photo ."
		". sub-photo welcome-sub ."
	}

	#main {
		order: 2;

	}
	.main-content {
		margin: 1rem;

	}
	#practice {
		order: 1;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		margin-left: 2rem;
		margin-right: 1rem;
		background-color: /*#023f49; */ #7d9191;
		color: /*#cedddb;*/ #06242b;
	}

}

