@charset "utf-8";

/** {
  margin: 0;
  padding: 0;
} */

body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", 'Trebuchet MS' /*,'Noto Sans'*/, sans-serif;
	
}
header {
	background-image: url(https://user-images.githubusercontent.com/40442987/75100791-96b82400-55a0-11ea-8950-4919186632c0.png);
	background-repeat: no-repeat;
	background-size: 100% 225px;
	margin-bottom: 1rem;
	
}
container {
	
}
.nav-grid {
	display: grid;
	grid-template-columns: 20px 1fr 1fr 20px;
	/*grid-template-rows: 70% 30%;*/
	width: 100%;
	grid-template-areas: 
		". pagetitle  logo ."
		". nav  logo .";
	
}
.main-grid {
	display: grid;
	grid-template-columns: 20px 1fr 20px;
	width: 100%;
	grid-template-areas:
		". welcome-photo ."
		". welcome ."
		". sub-photo ."
		". welcome-sub ."
}

#pagetitle {
	/*background-color: rebeccapurple;  /*--To Delete-- */
	grid-area: pagetitle;
	font-family: 'Playfair Display', serif;
	margin: 0px;
	padding-top: 0rem;
	font-size: 30px;
	
}


#logo {
	/*background-color: purple; /*--To Delete--*/
	grid-area: logo;
	padding-top: 1.2rem;
}
#logo img {
    max-width: 250px;
}
#nav {
	/*background-color: midnightblue;  /*--To Delete--*/
	grid-area: nav;
	font-family: 'Noto Sans', sans-serif;
	word-spacing: .75rem;
	list-style-type: none;
}
#nav a:link, a:active{
	text-decoration: none;
	color: #5d6f70;
}
#nav a:visited{
	text-decoration: none;
	color: #455456;
}
#nav a:hover{
	color: rgba(94,156,170,.72);	
}
h1 {
	font-family: 'Playfair Display', serif;
	font-size: 18px;
	color: /*#06242b*/ #1b4868;
}
	.hamburger {
		background-color: transparent;
		border: 0;
		color: #1b4868;
		cursor: pointer;
		font-size: 40px;
	}
	.hamburger:focus {
		outline: none;
	}
	.btn {
		width: 100%;		
	}
	#nav-ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	.nav-ul li a {
		/*padding: 10px;*/
		list-style-type: none;
	}
	.nav-ul {
		display: none;
		list-style-type: none;
	}
	.nav-ul.show {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		justify-content: center;
		list-style-type: none;
		text-decoration: none;
		flex-wrap: wrap;
		/*padding: 15px;*/
	}

#flex {
	background-color: cornflowerblue;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-image: linear-gradient(white, #cedddb);
	}


#main img {
	padding: 3px;
	border:6px solid #5e9caa;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#main h2 {
	color: #1b4868;
	font-family: 'Playfair Display', serif;
	margin-top: 0;
}
#welcome {
/*	padding: 2rem;
	max-width: 450px;*/
	color: #06242b;
	grid-area: welcome;
	margin-top: 1rem;
}
#welcome-sub {
/*	padding: 2rem;
	max-width: 450px;*/
	grid-area: welcome-sub;
	margin-top: 1rem;
}
#welcome-photo{
	grid-area: welcome-photo;
	margin-top: 1rem;
}
#sub-photo{
	grid-area: sub-photo;
	margin-top: 1rem;
}
#main a:link, a:active{
	/*text-decoration: none;*/
	color: #068FAD;
}
#main a:visited{
	text-decoration: none;
	color: #0E7CCA;
}
#main a:hover{
	text-decoration: none;
	color:/*rgba(94,156,170,.72)*/#ffffff;	
}


#practice {
	padding-left: 1.5rem;
	padding-right: 1.5rem;
	margin: auto;
	background-color: /*#023f49;  #7d9191; */ #1b4868;
	color: /*#cedddb; #06242b;*/ #FFFFFF;
	margin-top: 1rem;
}
.practice-grid {
	display: grid;
	/*grid-template-columns: 20px 1fr 20px;*/
	/*width: 100%;*/
	grid-template-areas:
		"day-time"
		"map"
}
h3 {
	font-family: 'Playfair Display', serif;
}
address {
	font-style: normal;
}
#day-time{
	grid-area: day-time;
}

#map{
	grid-area: map;
	margin-bottom: 1rem;
	height: 300px;
	width: 300px;
}

footer {
	background-color: #5e9caa;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 7px;
	text-align: center;
	font-family: 'Noto Sans', sans-serif;
}
#footer a:link, a:active{
	text-decoration: none;
	color: #5d6f70;
}
#footer a:visited{
	text-decoration: none;
	color: #455456;
}
#footer a:hover{
	color: rgba(94,156,170,.72);	
}


@media screen and (min-width: 800px) and (max-width: 1024px){
	/*header {
	background-image: url(CRUWH-grid-line.png);
	background-repeat: no-repeat;
	background-size: 100% 225px;
}*/
	
	body{
		
	}
	h1 {
		font-size: 2rem;
	}
	#flex {
		background-color: cornflowerblue;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		background-image: linear-gradient(white, #cedddb);
	}
	.nav-grid {
		display: grid;
		grid-template-columns: 60px 2fr 1fr 20px;
		grid-template-rows: 60% 40%;
		width: 100%;
		grid-template-areas: 
			". pagetitle  logo ."
			". nav  logo .";
	}
	#nav {
		padding-left: 0px;
		text-align: left;
	}
	#nav-ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-right: 4rem;
	}
	
	.hamburger{
		display: none;
	}
	.nav-ul {
		display: block;
	}
	.main-grid {
		display: grid;
		grid-template-columns: 60px 1fr 1fr 20px;
		grid-template-rows: 50% 50%;
		width: 100%;
		grid-template-areas:
			". welcome welcome-photo ."
			". sub-photo welcome-sub ."
	}

	#main {
		order: 1;
	}
	#practice {
		order: 2;
		margin-top: 2rem;
	}
	.practice-grid {
		display: grid;
		grid-template-columns: .7fr 1fr 1fr .7fr;
		width: 100%;
		grid-template-areas:
			". day-time map ."
	}
	#map {
		margin: 1rem;
	}
}

@media screen and (min-width: 1024px){
	/*Adjust size of h2 for responsive sizes - smaller on smaller screens*/
	
	body{
		
	}
	header {
		background-image: url(https://user-images.githubusercontent.com/40442987/75100789-87d17180-55a0-11ea-858b-664d0c95ea65.png);
		background-repeat: no-repeat;
		background-size: 100% 225px;
		margin-bottom: 1rem;

	}
	h1 {
		font-size: 2.5rem;
	}
	h2 {
		font-size: 2rem;
	}

	#flex {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		background-image: linear-gradient(white, #cedddb);
		padding: 0 2rem 2rem 2rem;
	}
	.nav-grid {
		display: grid;
		grid-template-columns: 150px 1.5fr 1fr 30px;
		grid-template-rows: 60% 40%;
		grid-template-areas: 
			". pagetitle  logo ."
			". nav  logo .";
		margin-bottom: 1rem;
	}
	#pagetitle {
		padding-top: 15px;
	}
	#nav {
		padding-top: 20px;
		text-align: left;
		font-size: 1.1rem;
	}
	#nav-ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		padding-right: 4rem;
	}
	.hamburger{
		display: none;
	}
	.nav-ul {
		display: block;
	}
	.main-grid {
		display: grid;
		grid-template-columns: 100px 1fr 1fr;
		/*grid-template-rows: 50% 50%;*/
		/*width: 100%;*/
		grid-template-areas:
			". welcome welcome-photo ."
			". sub-photo welcome-sub ."
	}

	#main {
		order: 1;

	}
	.main-content {
		margin: 1rem;

	}
	#welcome-sub {
		margin-top: 0;
	}
	#practice {
		order: 2;
		padding-left: 1.5rem;
		padding-right: 1.5rem;
		margin-right: .5rem;
	}
	#practice p, address{
		font-size: .9rem;
	}
	h3 {
		font-size: 1.3rem;
	}

	.practice-grid {
		display: grid;
		/*grid-template-columns: 20px 1fr 20px;*/
		/*width: 100%;*/
		grid-template-areas:
			"day-time"
			"map"
	}
	#map {
		height: 250px;
		width: 250px;
		margin-bottom: 2rem;
	}

}

