h1 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	color: #600;
}
h2 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
	color: #306;
	font-weight: bold;
}
h3 {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #609;
	line-height: 2px;
}
p {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #006;
}
li {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #039;
}
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	line-height: 14px;
	color: #003;
}
.bold_italic_text {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 14px;
	font-style: italic;
	font-weight: bold;
	color: #03C;
}
